name: simple

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'

jobs:
  test-action:
    runs-on: self-hosted

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Check node v2
        run: | 
          node -v

      - name: List files
        run: |
          ls -la

      - name: Upload Files to github
        uses: actions/upload-artifact@v2.2.0
        with:
          name: cover-data.json
          path: data.json
          if-no-files-found: error
          retention-days: 1

  node-docker:
    runs-on: ubuntu-latest
    container:
      image: node:13.5.0-alpine3.10
    steps:
      - name: Log node version
        run: |
          node -v
          cat /etc/os-release
