name: test

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  test-action:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Check node v2
        run: | 
          node -v

      - name: List files
        run: |
          ls -la
          echo "Environment: ${{inputs.logLevel}}"
